* {
    box-sizing: border-box;
  }

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 100;
    padding: 0;
    color: #1c363e;
    font-family: 'Francois One', sans-serif;
}

p {
    color: #1c363e;
}


#env-buttons .btn{
    margin-right: 15px;
    border: solid 4px #1c363e;
    border-radius: 0px;
    font-family: 'Francois One', sans-serif;
    font-size: 24px;
    padding: 6px 12px;
}

#zoom-message p{
    font-size: 18px;
    margin: 0;
}


#condition-heading {
    display: inline-block;
    text-align: center;
    font-family: 'Francois One', sans-serif;
    font-size: 28px;
}


#timer-text {
    color: #00b300;
    display: block;
    float: right;
    text-align: right;
    font-family: 'Francois One', sans-serif;
    font-size: 32px;  
    
}

.scores {
    display: block;
    float: left;
    text-align: left;
    font-family: 'Francois One', sans-serif;
    font-size: 24px;    
    margin: 0px !important;
}

#bonus-meter {
    font-size: 32px;
    border: 8px solid #FFFFFF;
}

#points-meter {
    font-size: 32px;
    border: 8px solid #FFFFFF;
}

#condition-heading {
    font-size: 32px;
    border: 8px solid #FFFFFF;
}

#defaultCanvas0, #defaultCanvas1 {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 5px #1C363E;
}

.env-div {
    background-color: #FFD819;
}

/* #stimulus-window {
    background-color: aquamarine;

} */

/* #environment-window {
    background-color: bisque;
} */

#experiment .col-md{
    padding: 26px;
}

#trial-number{
    float: none;
    margin: auto;
}

#trial-number p{
    text-align: center;
}

#experiment-buttons .col-auto{
    padding: 100px;
}

.occluder {
  float: middle;
  border:solid 1px #FFFFFF;
  height: 100vh;
  width: 100%;
  margin: auto;
  top: 40px; bottom: auto; left:0; right: 0;
  background: #FFFFFF;
  position: absolute;
  z-index: 10;
  opacity: 1;
  color: black;
}

.occluder div{
    float: middle;
    border:solid 1px #FFFFFF;
    width: 80%;
    height: 80vh;
    margin: auto;
    top: 50px; bottom: auto; left:0; right: 0;
    background: #FFFFFF;
    z-index: 10;
    color: black;
}

.occluder p{
    padding-top: 25%;
    display: inline-block;
    text-align: center;
    font-family: 'Francois One', sans-serif;
    font-size: 28px;
    line-height: 1.8em;
}

#occluder-timer-text{
    padding-top: 30px;
}

#progress-bar {
    background-color: blue;
    width: 100%;
}

#text-bar p {
    border: 8px solid white;
    margin-bottom: 0px;
}

.jspsych-content p{
    margin: 5px 10%;
  }